{% block extra_head %}
<link type="text/css" rel="stylesheet"  href="{{STATIC_URL}}css/facebox.css">
<script type="text/javascript" src="/files/js/facebox.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('a[rel*=facebox]').facebox() 
	});
</script>
{%endblock%}
<div class="sintags">
<table width="100%">
		<caption>Comentarios(Indicador 1.1.1 Acciones implementadas que posicionan el tema de equidad e igualdad)</caption>
		<thead>
			<tr>
				<th>Organización</th>				
				{% for key, value in tabla_cometario_org.items|slice:":1" %}
				{% for k in value.keys %}
				<th class="centrado">{{k}}</th>
				{% endfor %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for key, value in tabla_cometario_org.items %}
			<tr>
				<td><a href="/a/ver_comentario/{{key|slugify}}" rel="facebox">{{key}}</a></td>
				{% for k, v in value.items %}
					<td>{{v}}</td>
				{% endfor %}
			</tr>
			{% endfor %}	
		</tbody>
</table>
</div>