{% extends "base.html" %}
{% block title %}Demandando Justicia para la Igualdad{% endblock %}

{% block extra_head %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {		
		$('#tabs').tabs();
	});
</script>
{% endblock %}

{% block content %}
<div id="tabs" style="font-size: 70%;">
	<ul>
		<li><a href="#acciones-impulsadas-demandas"><span>Acciones públicas<span class="colorspan">(Indicardor 1.2.1)</span> </span></a></li>
		<li><a href="#acciones-denuncia-lgbt"><span>Denuncias discriminación a personas LGBT</span><span class="colorspan">(Indicardor 1.2.1)</span> </a></li>
		<li><a href="#acciones-denuncia-discapasitado"><span>Denuncias discriminación a personas Discapacitadas</span><span class="colorspan">(Indicardor 1.2.2)</span> </a></li>
		<li><a href="#acciones-denuncia-etnias"><span>Denuncias discriminación a personas étnicas o indígenas</span><span class="colorspan">(Indicardor 1.2.2)</span> </a></li>
		<li><a href="#acciones-denuncia-vih"><span>Denuncias discriminación a personas que viven con VIH</span><span class="colorspan">(Indicardor 1.2.3)</span> </a></li>				
	</ul>	
	<div id="acciones-impulsadas-demandas">
		<!-- Acciones publicas impulsadas por organizacion -->
		{% with tabla=tabla_acciones_publicas titulo='Acciones públicas por organización' primer_td='Organización' colspan=6 titulo_combinado='Población discriminada' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
		
		<!-- Acciones publicas impulsadas por tipo de accion -->
		{% with tabla=tabla_tipo_acciones titulo='Acciones públicas por tipo' primer_td='Tipo de acción' colspan=6 titulo_combinado='Población discriminada' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
		
		<!-- Denuncias impulsadas -->
		{% with tabla=tabla_denuncias titulo='Estado de denuncias impulsadas' primer_td='Denuncias en contra de la discriminación a personas ' colspan=4 titulo_combinado='Estado' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
	</div>
	<div id="acciones-denuncia-lgbt">
		<!-- Denuncias por lgbt -->
		{% with tabla=tabla_denuncias_lgbt titulo='Estado de denuncias impulsadas por organización' primer_td='Organizaciones' colspan=4 titulo_combinado='Estado en LGBT' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
	</div>
	<div id="acciones-denuncia-discapasitado">
		<!-- Denuncias por lgbt -->
		{% with tabla=tabla_denuncias_discapasitado titulo='Estado de denuncias impulsadas por organización' primer_td='Organizaciones' colspan=4 titulo_combinado='Estado en Discapasitados' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
	</div>
	<div id="acciones-denuncia-vih">
		<!-- Denuncias por lgbt -->
		{% with tabla=tabla_denuncias_vih titulo='Estado de denuncias impulsadas por organización' primer_td='Organizaciones' colspan=4 titulo_combinado='Estado en VIH' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
	</div>
	<div id="acciones-denuncia-etnias">
		<!-- Denuncias por lgbt -->
		{% with tabla=tabla_denuncias_etnias titulo='Estado de denuncias impulsadas por organización' primer_td='Organizaciones' colspan=4 titulo_combinado='Estado en etnias o indigenas' percent=1 aux=1%}
		{% include "tabla_generica.html" %}
		{% endwith %}
	</div>
</div>	
{% endblock %}