{% extends "base.html" %}
{% block title %}Prevención de Violencia{% endblock %}

{% block extra_head %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {		
		$('#tabs').tabs();
	});
</script>
{% endblock %}

{% block content %}
<div id="tabs" style="font-size: 70%;">
	<ul>
		<li><a href="#acciones-impulsadas"><span>Acciones impulsadas Prevención VBG</span></a></li>				
		<li><a href="#masculinidad-libre"><span>Promoción de masculinidad libre</span></a></li>
		<li><a href="#acciones-impulsadas-organizacion"><span>Acciones impulsadas VBG por organización</span></a></li>
<!-- 		<li><a href="#informacion-vih"><span>Personas que reciben información sobre VIH</span></a></li>						 -->
	</ul>
	<div id="acciones-impulsadas">
	{% for key, value in resultados.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=1 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="masculinidad-libre">
	{% for key, value in resultados_2.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=2 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="acciones-impulsadas-organizacion">
	<table width="100%">
		<caption>Participantes mujeres</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in participantes_mujeres.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>
	<br><br>
	<table width="100%">
		<caption>Participantes hombres</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in participantes_hombres.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>
	<br><br>
	<table width="100%">
		<caption>Participantes LGBT</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in participanteslgbt.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>
	<br><br>
	<table width="100%">
		<caption>Hombres discapasitados</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in hombresdiscapacitados.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	<br><br>
	<table width="100%">
		<caption>Mujeres discapasitadas</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in mujeresdiscapacitadas.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	<br><br>
	<table width="100%">
		<caption>Hombres poblacion étnicos</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in hombre_poblacionetnias.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	<br><br>
	<table width="100%">
		<caption>Mujeres poblacion étnicas</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in mujeres_poblacionetnias.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	<br><br>
	<table width="100%">
		<caption>Hombres con VIH</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in hombrevih.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	<br><br>
	<table width="100%">
		<caption>Mujeres con VIH</caption>
		<thead>
			<th>Organización</th>
			<th>TALLERES</th>
			<th>INTERCAMBIOS DE EXPERIENCIAS</th>
			<th>ARTÍCULOS DE PERIÓDICOS</th>
			<th>CAMPAÑAS EN TELEVISIÓN</th>
			<th>CAMPAÑAS RADIALES</th>
			<th>MATERIALES EDUCATIVOS</th>
			<th>VISITAS GRUPALES O INDIVIDUALES</th>
			<th>REUNIONES CON AUTORIDADES</th>
			<th>FOROS</th>
			<th>CONSEJERIA Y PROMOTORIA SOCIAL</th>
		</thead>
		<tbody>
		{%for k,v in mujervih.items%}
		<tr>
			<td>{{k}}</td>
			{%for key, value in v.items%}
				<td>{{value.0}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
		</tbody>					
	</table>

	</div>		
</div>	
{% endblock %}