{% extends "base.html" %}
{% block title %}Prevención de Violencia{% endblock %}

{% block extra_head %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {		
		$('#tabs').tabs();
	});
</script>
{% endblock %}

{% block content %}
<div id="tabs" style="font-size: 70%;">
	<ul>
		<li><a href="#acciones-impulsadas"><span>Acciones impulsadas Prevención VBG</span></a></li>				
		<li><a href="#masculinidad-libre"><span>Promoción de masculinidad libre</span></a></li>
		<li><a href="#acciones-impulsadas-organizacion"><span>Acciones impulsadas VBG por organización</span></a></li>
<!-- 		<li><a href="#informacion-vih"><span>Personas que reciben información sobre VIH</span></a></li>						 -->
	</ul>
	<div id="acciones-impulsadas">
	{% for key, value in resultados.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=1 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="masculinidad-libre">
	{% for key, value in resultados_2.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=2 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="acciones-impulsadas-organizacion">
	<a href="/a/participacion_mujeres/">Participación mujeres por organización</a><br>
	<a href="/a/participacion_hombres/">Participación hombres por organización</a><br>
	<a href="/a/participacion_lgbt/">Participación LGBT por organización</a><br>
	<a href="/a/participacion_hombre_discapasitado/">Participación hombres discapasitados por organización</a><br>
	<a href="/a/participacion_mujeres_discapasitada/">Participación mujeres discapasitadas por organización</a><br>
	<a href="/a/participacion_hombre_etnia/">Participación hombres étnias por organización</a><br>
	<a href="/a/participacion_mujeres_etnia/">Participación mujeres étnias por organización</a><br>
	<a href="/a/participacion_hombre_vih/">Participación hombres VIH por organización</a><br>
	<a href="/a/participacion_mujeres_vih/">Participación mujeres VIH por organización</a><br>

	</div>		
</div>	
{% endblock %}