{% extends "base.html" %}
{% block title %}Prevención de Violencia{% endblock %}

{% block extra_head %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {		
		$('#tabs').tabs();
	});
</script>
{% endblock %}

{% block content %}
<div id="tabs" style="font-size: 70%;">
	<ul>
		<li><a href="#acciones-impulsadas"><span>Acciones impulsadas Prevención VBG</span><span class="colorspan">(Indicardor 2.2.1 y 2.2.2)</span> </a></li>				
		<li><a href="#masculinidad-libre"><span>Promoción de masculinidad libre</span><span class="colorspan">(Indicardor 2.2.3)</span> </a></li>
		<li><a href="#acciones-impulsadas-organizacion"><span>Acciones impulsadas VBG por organización</span></a></li>
		<li><a href="#acciones-impulsadas-organizacion-masculinidad"><span>Promoción de masculinidad por organización</span></a></li>
<!-- 		<li><a href="#informacion-vih"><span>Personas que reciben información sobre VIH</span></a></li>						 -->
	</ul>
	<div id="acciones-impulsadas">
	{% for key, value in resultados.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=1 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="masculinidad-libre">
	{% for key, value in resultados_2.items %}	
	{% for k,v in value.items %}
	{% with tabla=v titulo=k primer_td='Acciones' colspan=5 titulo_combinado=k percent=1 aux=2 %}
		{% include "tabla_generica.html" %}
		{% endwith %}	
	{% endfor %}	
	{% endfor %}
	</div>
	<div id="acciones-impulsadas-organizacion">
	<a class="btn" href="/a/participacion_mujeres/">Participación mujeres</a><br><br>
	<a class="btn" href="/a/participacion_hombres/">Participación hombres</a><br><br>
	<a class="btn" href="/a/participacion_lgbt/">Participación LGBT</a><br><br>
	<a class="btn" href="/a/participacion_hombre_discapasitado/">Participación hombres con discapacidad</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_discapasitada/">Participación mujeres con discapacidad</a><br><br>
	<a class="btn" href="/a/participacion_hombre_etnia/">Participación hombres étnias</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_etnia/">Participación mujeres étnias</a><br><br>
	<a class="btn" href="/a/participacion_hombre_vih/">Participación hombres VIH</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_vih/">Participación mujeres VIH</a><br><br>
	<a class="btn" href="/a/acciones_ocp_pvbg/">Acciones por OCP prevención</a><br><br>

	</div>
	<div id="acciones-impulsadas-organizacion-masculinidad">
	<a class="btn" href="/a/participacion_mujeres_mas/">Participación mujeres</a><br><br>
	<a class="btn" href="/a/participacion_hombres_mas/">Participación hombres</a><br><br>
	<a class="btn" href="/a/participacion_lgbt_mas/">Participación LGBT</a><br><br>
	<a class="btn" href="/a/participacion_hombre_discapasitado_mas/">Participación hombres con discapacidad</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_discapasitada_mas/">Participación mujeres con discapacidad</a><br><br>
	<a class="btn" href="/a/participacion_hombre_etnia_mas/">Participación hombres étnias</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_etnia_mas/">Participación mujeres étnias</a><br><br>
	<a class="btn" href="/a/participacion_hombre_vih_mas/">Participación hombres VIH</a><br><br>
	<a class="btn" href="/a/participacion_mujeres_vih_mas/">Participación mujeres VIH</a><br><br>
	<a class="btn" href="/a/acciones_ocp_masculinidad/">Acciones por OCP masculinidad</a><br><br>

	</div>				
</div>	
{% endblock %}